<div class="youtube-link">
    <div class="youtube-link__thumb">
        <img src="{{ thumbnailUrl }}"
             alt="YouTube Video Thumbnail"
             loading="lazy"
             decoding="async"
             fetchpriority="low">

        <a href="https://www.youtube-nocookie.com/watch?v={{ videoId }}"
           class="youtube-link__overlay"
           target="_blank"
           rel="noopener noreferrer">
            <div class="youtube-link__button">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="#cc0000">
                    <path d="M8 5v14l11-7z"/>
                </svg>
            </div>
        </a>
    </div>
</div>
